.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media(min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.b-example-divider {
    width: 100%;
    height: 3rem;
    background-color: rgba(0, 0, 0, 0.1);
    border: solid rgba(0, 0, 0, 0.15);
    border-width: 1px 0;
    box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1), inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
}

.b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
}

.bi {
    vertical-align: -0.125em;
    fill: currentColor;
}

.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}

.nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.btn-bd-primary {
    --bd-violet-bg: #712cf9;
    --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

    --bs-btn-font-weight: 600;
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: var(--bd-violet-bg);
    --bs-btn-border-color: var(--bd-violet-bg);
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: #6528e0;
    --bs-btn-hover-border-color: #6528e0;
    --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg: #5a23c8;
    --bs-btn-active-border-color: #5a23c8;
}

.bd-mode-toggle {
    z-index: 1500;
}

.bd-mode-toggle .dropdown-menu .active .bi {
    display: block !important;
}

.bg-secondary-transparent {
    background-color: rgba(88, 88, 88, 0);
    /* secondary gray with 50% opacity */
}


.image-container {
    position: relative;
    overflow: hidden;
}

/* Popup overlay with transparency, positioned at the bottom */
.popup {
    position: relative;
    bottom: 23%;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    /* Semi-transparent background */
    color: #fff;
    padding: 10px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease, visibility 0.3s ease, height 0.3s ease;
    display: flex;
    justify-content: space-evenly;
    /* Content aligned at the bottom */
    align-items: center;
    /* Initially collapsed */
    overflow: hidden;
    /* Ensure text is hidden until expanded */
}

/* Info box inside popup */
.popup-info {
    text-align: center;
    color: #FFF;
    padding: 1px;
    opacity: 1;
    border-radius: 5px;
    width: 100%;
    z-index: 3;
}

.pictureOfBook {
    width: 100%;
    height: 590px;
    object-fit: cover;
}

.modal.modal-body img {
    max-height: 80vh;
    width: auto;
}

.text-on-gray {
    background-color: rgba(211, 211, 211, 0.8);
    /* Light gray with some transparency */
    color: #333;
    padding: 20px;
    border-radius: 8px;
}

.modal-content {
    background-color: white;
    /* Ensure modal background stays white */
    border-radius: 10px;
}
